html, body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

#top {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#naglowek {
    background-color: #888;
    text-align: center;
}

#logowanie {
    width: 200px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    overflow: hidden;
    background-color: #ccc;
}

#tresc {
    width: 560px;
    float: left;
    overflow: hidden;
    background-color: #fff;
}

#stopka {
    clear: both;
    width: 100%;
    background-color: #888;
}