html, body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

#top {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#naglowek {
    background-color: #888;
    text-align: center;
}

#logowanie {
    width: 200px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    overflow: hidden;
    background-color: #ccc;
}

#tresc {
    width: 560px;
    float: left;
    overflow: hidden;
    background-color: #fff;
}

#spis {
    width: 250px;
    height: 500px;
    float: left;
}

#konkretny_kontakt {
    width: 280px;
    float: right;
    background-color: darkgrey;
    padding: 5px;
}

.kontakt {
    width: 200px;
    height: 25px;
    margin: 5px;
    padding: 10px;
    background-color: burlywood;
}

div.kontakt:hover {
    width: 200px;
    height: 25px;
    margin: 5px;
    padding: 10px;
    background-color: #9B410E;
}


.link {
    width: 200px;
    height: 25px;
    margin: 5px;
    padding: 10px;
    background-color: grey;
}

.poprawne {
    color: green;
    font-weight: 600;
}

.niepoprawne {
    color: red;
    font-weight: 800;
    font-size: 16px;
}